.contacts {
  padding-top: 43px;
  //padding-bottom: 45px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 660px) {
    padding-top: 46px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contacts__header {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 29px;
  color: #283645;
  text-align: center;

  @media (min-width: 660px) {
    padding-left: 62px;
    padding-right: 62px;
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 48px;
  }
}

.contacts__item {
  //display: inline-block;
  //width: 230px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2) {
    margin-bottom: 27px;

    letter-spacing: 0.001em;
  }

  &:nth-child(3) {
    width: 100%;
  }

  @media (min-width: 660px) {
    //margin-right: auto;
    //margin-left: auto;
    //margin-bottom: 60px;
    margin-bottom: 49px;
  }
}

.contacts__item-header {
  display: block;
  margin-bottom: 4px;

  font-size: 18px;
  //line-height: 20px;
  line-height: 1.2;
  color: #283645;
  font-weight: bold;
  letter-spacing: 0.002em;

  @media (min-width: 660px) {
    margin-bottom: 7px;
  }
}

.contacts__detail {
  font-size: 24px;
  line-height: 1.2;
  color: #d22856;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #283645;

    border-bottom: 2px solid #283645;
  }

  &:active {
    opacity: 0.3;

    border-bottom: none;
  }

  @media (min-width: 660px) {
    display: inline-block;
    width: 230px;
  }
}

.contacts__item-wrapper {
  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
