.features {
  padding: 0;
  margin: 0;
  padding-top: 117px;
  padding-bottom: 330px;

  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #f2f2f2;

  list-style: none;

  &::after {
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 157px;
    height: 282px;

    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;

    transform: translateX(-50%);

    content: "";

    @media (min-width: 660px) {
      left: 3.03%;

      width: 268px;
      height: 481px;

      background-size: cover;

      transform: none;
    }
  }

  @media (min-width: 660px) {
    padding-top: 80px;
    padding-left: 330px;
    padding-right: 20px;
    padding-bottom: 25px;
    //padding-bottom: 5.15%;
  }
}

.features__item {
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.04em;

  @media (min-width: 660px) {
    text-align: left;
  }
}

.features__description {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  letter-spacing: 0.03em;

  @media (min-width: 660px) {
    padding-left: 0;
    padding-right: 0;

    text-align: left;
  }
}
