.features {
    padding: 0;
    margin: 0;
    padding-top: 124px;

    list-style: none;
}

.features__title {
    margin: 0;
    margin-bottom: 26px;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
}

.features__description {
    margin: 0;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 48px;

    font-size: 14px;
    line-height: 24px;
    color: #283645;
    text-align: center;
}
