.filter {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}

.filter__image {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
}

.filter__image-wrapper {
  position: relative;

  width: 100%;
  padding-top: 133.57%;
  margin-bottom: 42px;
}

.filter__controls {
  position: relative;

  margin-bottom: 40px;

  text-align: center;

  border-bottom: 1px solid #dddfe0;
}

.filter__post-button {
  width: 274px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;

  font-size: 18px;
  color: #d22856;

  border: 3px solid #d22856;
  border-radius: 30px;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #d22856;
  }

  &:active {
    color: #e06989;
  }
}

.filter__cancel-button {
  width: 274px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 18px;
  color: #e3e4e4;

  border: 3px solid #dddfe0;
  border-radius: 30px;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    color: #b5b9be;

    background-color: #f2f2f2;
    border-color: #b5b9be;
  }

  &:active {
    color: #cbced2;

    background-color: #b5b9be;
  }
}

.filter__range-controls {
  position: relative;

  margin-top: 40px;
}

.filter__range-bar {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  margin-bottom: 34px;

  border-top: 2px solid #283645;
}

.filter__range-toggle {
  position: absolute;
  top: -6px;
  right: 26.78%;

  padding: 5px;
  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 7px;

  cursor: pointer;

  &:active {
    background-color: #d22856;
  }
}

.filter__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__controls-label {
  font-size: 0;

  & svg {
    fill: #283645;
    opacity: 0.3;
  }

  & svg:hover {
    opacity: 0.5;
  }
}

.filter__type-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 12.76%;
  padding-right: 12.76%;
  margin-bottom: 83px;

  list-style: none;
}

.filter__controls-type:focus + label svg {
  outline: -webkit-focus-ring-color auto 5px;
  opacity: 0.5;
}

.filter__controls--active:focus + label svg {
  opacity: 1;
}

.filter__controls--active + label svg {
  fill: #d22856;
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}
