.footer-copy {
    margin: 0;

    font-size: 14px;
    color: #283645;
    text-align: center;
}

.footer-copy__logo-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;

    font-size: 0;
}
