.form-sub-title {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;

  @media (min-width: 660px) {
    margin-bottom: 69px;

    font-size: 18px;
    letter-spacing: 0.02em;
  }

  @media (min-width: 960px) {
    margin-bottom: 66px;
  }
}
