.form__personal-name {
  padding: 0;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 42px;

  border: 0;

  &-list {
    padding: 0;
    margin: 0;

    list-style: none;
  }
}

.form__second-name-label,
.form__first-name-label,
.form__patronymic-label {
  display: block;
  margin-bottom: 15px;
  margin-left: 22px;

  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__second-name-input,
.form__first-name-input,
.form__patronymic-input {
  margin-bottom: 28px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 84px;
  width: 168px;

  font-size: 18px;

  border: 2px solid #e7e7e7;
  border-radius: 2px;
}

.form__patronymic-input {
  margin-bottom: 0;
}

.form__second-name-input::placeholder,
.form__first-name-input::placeholder,
.form__patronymic-input::placeholder {
  color: #283645;
}

.form__achievments {
  padding: 0;
  margin: 0;

  border: 0;
  background-color: #f2f2f2;

  &-header {
    padding: 0;
    padding-top: 42px;
    padding-left: 47px;
    padding-right: 47px;
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #d22856;
    text-transform: uppercase;

    background-color: #f2f2f2;
  }

  &-list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 42px;
  }

  &-label {
    font-size: 18px;
    color: #283645;
  }

  &-item {
    margin-bottom: 42px;
  }
}

.form__contacts {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;

  border: 0;

  &-header {
    display: none;
  }

  &-list {
    padding: 0;
    margin: 0;

    list-style: none;
  }
}

.form__number-label {
  display: block;
  margin-bottom: 15px;
  margin-left: 22px;

  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__number-input {
  margin-bottom: 28px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 84px;
  width: 168px;

  font-size: 18px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;

  &::placeholder {
    color: #283645;
  }
}

.form__platform {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;

  border: 0;
  background-color: #f2f2f2;

  &-header {
    padding-top: 42px;
    padding-left: 47px;
    padding-right: 47px;
    margin-bottom: 38px;

    font-size: 14px;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;

    background-color: #f2f2f2;
  }

  &-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 42px;
  }

  &-list {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &-item-label {
    font-size: 18px;
    color: #283645;
  }
}

.form__details {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 48px;

  border: 0;

  &-header {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 14px;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;
  }

  &-textarea {
    padding: 0;
    margin: 0;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 22px;
    padding-right: 20px;
    width: 237px;
    height: 155px;

    font-size: 18px;
    line-height: 30px;
    color: #283645;

    border: 2px solid #e5e5e5;
    border-radius: 2px;

    resize: none;
  }
}

.form__submit {
  text-align: center;

  &-button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 45px;
    width: 282px;

    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #2aab6d;
    border: 0;
    border-radius: 2px;
  }

  &-description {
    margin: 0;
    padding: 0;

    font-size: 14px;
    color: #283645;
  }

  &-description-star {
    color: #d22856;
  }
}
