.form__submit {
  text-align: center;

  &-button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 45px;
    width: 282px;

    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #2aab6d;
    border: 0;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: #1c9b5e;
    }

    &:active {
      color: #61b98f;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  &-description {
    margin: 0;
    padding: 0;

    font-size: 14px;
    color: #283645;
  }

  &-description-star {
    color: #d22856;
  }
}

.form__field {
  padding: 0;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 42px;

  border: 0;

  &--white {
    background-color: #ffffff;
  }

  &--gray {
    background-color: #f2f2f2;
  }

  &-wrapper {
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
  }
}

.form__item-list {
  padding: 0;
  margin: 0;

  text-align: center;

  list-style: none;
}

.form__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;

  &-flag {
    position: relative;

    flex-direction: row;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-label-text {
    display: block;
    margin-bottom: 15px;

    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
  }

  &-input-text {
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 84px;
    width: 100%;

    font-size: 18px;

    border: 2px solid #e7e7e7;
    border-radius: 2px;
    box-sizing: border-box;

    &:hover {
      border-color: #283645;
    }

    &:focus {
      border-color: #d22856;
      outline: none;
    }

    &::placeholder {
      color: #283645;
    }
  }

  &-label-interactive {
    margin-left: 70px;

    font-size: 18px;
    color: #283645;

    &--checkbox {
      &::before {
        border-radius: 5%;
      }
    }

    &--radio {
      &::before {
        border-radius: 50%;
      }
    }

    &::before {
      position: absolute;
      top: -8px;
      left: 0;

      width: 35px;
      height: 35px;

      background-color: #ffffff;
      border: 2px solid #e5e5e5;

      content: "";
    }

    &:hover::before {
      border-color: #283645;
    }

    &:active::before {
      border-color: #d22856;
    }
  }

  &-input--checkbox:checked + label::before {
    background: url("../img/tick.png") no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
  }

  &-input--radio:checked + label::before {
    background: url("../img/radio.png") no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
  }

  &-input:focus + label {
    outline: 2px solid rgb(125, 173, 217);

    &::before {
      border-color: #283645;
    }
  }

  // не работает c &-input--radio:active
  // при нажатии на пробел рамка окрашивается и не меняет цвет обратно при снятии нажатия с пробела
  &-input--checkbox:active + label::before {
    border-color: #d22856;
  }
}

.form__header {
  padding: 0;
  padding-top: 42px;
  padding-left: 47px;
  padding-right: 47px;
  width: 100%;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;

  box-sizing: border-box;

  &--white {
    background-color: #ffffff;
  }

  &--gray {
    background-color: #f2f2f2;
  }

  &--contacts {
    display: none;
  }
}

.form__textarea {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 22px;
  padding-right: 20px;
  //width: 237px;
  width: 100%;
  min-height: 155px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;

  border: 2px solid #e5e5e5;
  border-radius: 2px;
  box-sizing: border-box;

  resize: none;

  &:hover {
    border-color: #283645;
    outline: none;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }
}
