.header-list__item {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 16px;
  padding-bottom: 14px;

  text-align: center;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  @media (min-width: 960px) {
    padding: 0;

    margin-right: 83px;

    border-bottom: none;
    border-top: none;
  }

  &:last-child {
    @media (min-width: 960px) {
      margin-right: 0;
    }
  }
}

.header-list__item a {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #d22856;

    cursor: pointer;
  }

  &:active {
    color: #d22856;

    opacity: 0.3;
    cursor: pointer;
  }

  @media (min-width: 960px) {
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.01em;
  }
}
