.header-list__item {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  
    text-align: center;

    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
}
  
.header-list__item a {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}