.hit {
  background: url("../img/bg-hit.svg") no-repeat;
  background-size: 70px 70px;
  background-position: 0 top;
  background-color: #283645;

  &::after {
    content: "ХИТ";

    position: absolute;
    top: 12px;
    left: 9px;

    font-size: 14px;
    line-height: 30px;

    transform: rotate(-45deg);

    @media (min-width: 660px) {
      top: 5px;
      left: 5px;
    }

    @media (min-width: 960px) {
      top: 12px;
      left: 10px;
    }
  }

  @media (min-width: 660px) {
    background-position: -11px top;
  }

  @media (min-width: 960px) {
    background-position: 0 top;
  }
}
