.index-background {
  height: 395px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat, url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 258px 287px, cover;
  background-position: 0 100%;
}
