.inner-background {
  //height: 237px;
  height: 170px;
  //padding-top: 98px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
  background-position: 0 -67px;

  @media (min-width: 660px) {
    height: 329px;
  }

  @media (min-width: 960px) {
    height: 284px;
  }
}
