.main-navigation {
  background-color: #283645;
}

.main-navigation__logo-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 24px;
  padding-right: 20px;

  border-bottom: 1px solid #000000;
}

.main-navigation__link {
  line-height: 0;
  
  text-decoration: none;
}

.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__menu-toggle {
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: #283645;
  border: 0;

  & path:hover {
    fill: #d22856;
  }

  & path:active {
    opacity: 0.3;

    fill: #d22856;
  }
}
