.offers {
  position: relative;

  padding-top: 41px;
}

.offers__subject {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;

  background-color: #ffffff;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 48px;
  }
}

.offers__subject:nth-child(1) {
  margin-bottom: 29px;
  padding-left: 15px;
  padding-right: 15px;
}

.offers__subject:nth-child(2) {
  margin-bottom: 34px;
}
