.offers {
    padding-bottom: 350px;

    background: url(../img/bg-triangle-white.svg) no-repeat,
                url(../img/iphone-screen-mobile@1x.png) no-repeat;
    background-size: 250%, 150px;
    background-position: 0 218px, bottom;
    background-color: #f2f2f2;
}

.offers__subject {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;

    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #283645;
    
    background-color: #fff;
}

.offers__subject:nth-child(1) {
    padding-bottom: 46px;
    padding-top: 52px;
}