.offers {
  position: relative;

  padding-top: 41px;

  @media (min-width: 660px) {
    padding-top: 49px;
  }

  @media (min-width: 960px) {
    padding-top: 67px;
  }
}

.offers__subject {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;

  background-color: #ffffff;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 60px;
  }
}

.offers__subject:nth-child(1) {
  margin-bottom: 29px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 660px) {
    margin-bottom: 0;
  }
}

.offers__subject:nth-child(2) {
  margin-bottom: 34px;

  @media (min-width: 660px) {
    margin-bottom: 47px;
  }

  @media (min-width: 960px) {
    padding-left: 270px;
    padding-right: 270px;
    margin-bottom: 78px;
  }
}
