.reviews {
  position: relative;
}

.reviews__list {
  margin: 0;
  padding: 0;
  margin-bottom: 74px;

  list-style: none;
}

.reviews__item {
  display: none;
  padding-top: 54px;
  padding-left: 17px;
  padding-right: 17px;

  &:nth-child(1) {
    display: block;
  }
}

.reviews__name {
  margin: 0;
  margin-bottom: 34px;

  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.reviews__quote {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
