.selector {
  display: flex;
  align-items: center;
}

.selector__slide {
  padding: 0;
  width: 6px;
  height: 6px;
  margin-right: 16px;

  border: 0;
  border-radius: 50%;
  background-color: #283645;
  opacity: 0.3;

  cursor: pointer;

  &:hover:not(.selector__slide--active),
  &:focus:not(.selector__slide--active) {
    opacity: 0.6;
  }

  &:active:not(.selector__slide--active) {
    opacity: 0.1;
  }

  &--active {
    padding: 3px;

    background-color: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}
