.socials {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40px;

  font-size: 0;
  text-align: center;

  list-style: none;
}

.socials__button {
  display: flex;
  align-items: center;
  justify-content: center;
  //display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;
  text-decoration: none;

  /*&--twitter svg {
    top: 35%;
    left: 33%;
    //background: url("../img/icon-twitter.svg") no-repeat;
    //background-position: 50% 48%;
  }*/

  /*&--twitter:hover,
  &--twitter:focus,
  &--facebook:hover,
  &--facebook:focus,
  &--youtube:hover,
  &--youtube:focus {
    border: 3px solid rgba(40, 54, 69, 1);
    //background-position: 50% 48%;
  }*/

  &:hover,
  &:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }

  /*&--twitter:active,
  &--facebook:active,
  &--youtube:active {
    border: 3px solid rgba(40, 54, 69, 0.1);

    fill-opacity: 0.3;
  }*/

  &:active,
  &:active,
  &:active {
    border: 3px solid rgba(40, 54, 69, 0.1);

    fill-opacity: 0.3;
  }

  /*&--facebook svg {
    top: 32%;
    left: 42%;
    //background: url("../img/icon-facebook.svg") no-repeat;
    //background-position: 50% 50%;
  }*/

  /*&--facebook:hover,
  &--facebook:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }*/

  /*&--youtube svg {
    top: 36%;
    left: 37%;
    //background: url("../img/icon-youtube.svg") no-repeat;
    //background-position: 50% 50%;
  }*/

  /*&--youtube:hover,
  &--youtube:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }*/
}

.socials__button svg {
  position: absolute;
}

.socials__item {
  position: relative;

  display: inline-block;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}
