.socials {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 38px;

  font-size: 0;
  text-align: center;

  list-style: none;

  @media (min-width: 660px) {
    margin-bottom: 0;
    padding: 0;
  }
}

.socials__button {
  display: flex;
  align-items: center;
  justify-content: center;
  //vertical-align: middle;
  width: 45px;
  height: 45px;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;
  text-decoration: none;

  &:hover,
  &:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }

  &:active,
  &:active,
  &:active {
    border: 3px solid rgba(40, 54, 69, 0.1);

    fill-opacity: 0.3;
  }
}

.socials__button svg {
  position: absolute;
}

.socials__item {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}
