.tariff {
  position: relative;

  padding-top: 110px;
  padding-bottom: 5px;
  height: 375px;

  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-size: 250%;
  background-position: top;
  background-color: #f2f2f2;

  overflow: hidden;
}

.tariff__table {
  position: absolute;
  left: -258px;

  //margin-bottom: 40px;

  border-collapse: collapse;
}

.tariff__option,
.tariff__availability {
  border: 2px solid #e5e5e5;
}

.tariff__option {
  padding-left: 82px;
  padding-right: 82px;
  padding-top: 22px;
  padding-bottom: 25px;

  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: #283645;
  border-top: 0;
}

.tariff__price {
  display: block;
  width: 112px;
  margin-top: 12px;

  font-size: 24px;
  font-weight: normal;
}

.tariff__availability {
  padding-left: 19px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
}

.tariff__features {
  font-size: 14px;
  line-height: 30px;

  text-transform: uppercase;
}
