.top-panorama {
  position: relative;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top-panorama__label {
  position: absolute;
  right: 20px;

  display: block;
  width: 100px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #d22856;
}

.top-panorama__header {
  //если надо убрать пробел между инлайн блоками font-size: 0;
}

.top-panorama__content {
  margin: 0;
}

.top-panorama__comment {
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.top-panorama__likes {
  margin: 0;

  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.top-panorama__image {
  display: block;
}

.top-panorama__name {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
  font-style: normal;
  font-weight: bold;
}

.top-panorama__date {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.top-panorama__info {
  padding-top: 25px;
  padding-left: 18px;
  padding-right: 23px;
  padding-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;

  background-color: #f2f2f2;
}

.top-panorama__like-button {
  padding: 0;
  margin-right: 19px;

  border: none;
  background-color: #f2f2f2;
}
